//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $blue;
	font-size: 16px;
  background: $white;
  font-family: $font-base;
}

h1 {
  @include h1;
}

p {
  font-size: 15px;
  line-height: 1.333333333;
}

a {
	color: inherit;
  &:focus {
    outline: none;
  }
}

img {
  height: auto;
	max-width: 100%;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1080px;
  position: relative;
  @include clearfix();
  @include media-md {
    padding: 0 100px;
  }
} 