// Donate section

body.donation-form-active {
  overflow: hidden;
}
// Success message
.success-notice {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-out;
  h3 {
    margin: 50px 0 0;
    font-size: 50px;
    line-height: 1;
    color: $yellow;
  }
  p {
    font-size: 30px;
    line-height: 35px;
    margin: 50px 0 150px;
  }
}
.donate-form {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  color: $white;
  padding: 50px 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba($blue,.95);
  transform: translateY(-100%);
  transition: transform .2s cubic-bezier(1,.25,.25,1);
  &.-active {
    transform: translateY(0);
  }
  // When donation succeeds, show notice & hide form
  &.-success {
    #payment-form {
      display: none;
    }
    .success-notice {
      min-height: 1000px;
      opacity: 1;
    }
  }
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  .intro p {
    max-width: 560px;
  }
  label {
    font-size: 20px;
    line-height: 1;
    color: $yellow;
    display: block;
    margin: 16px 0 8px;
    -webkit-font-smoothing: antialiased;
  }
  input[type=text],
  input[type=email],
  textarea {
    background: rgba($white, .3);
    border: none;
    padding: 4px;
    color: #fff;
    width: 100%;
  }
  textarea {
    height: 85px;
  }
  // amount radio buttons
  .radios {
    input[type=text],
    label {
      font-size: 15px;
      line-height: 1;
      margin: 0 0 4px;
      color: $white;
    }
    input[type=radio] {
      margin-right: 8px;
    }
  }
  .other-amount {
    input[type=text] {
      width: 130px;
      padding: 0 4px;
    }
  }
  input.btn.submit {
    border: none;
    height: 25px;
    line-height: 25px;
    padding: 0;
    margin-top: 44px;
    width: 100%;
  }
  .do-not-store {
    text-transform: uppercase;
  }
  .extra-info p {
    font-size: 12px;
    line-height: 15px;
  }

  .close {
    top: 0;
    right: 20px;
    position: absolute;
  }

  h4 {
    @include h4;
    color: $yellow;
    margin: 0;
  }
  label .req {
    color: $pink;
  }
  input.error {
    outline: 1px solid $yellow;
  }

  .expandable-group {
    h2 {
      font-size: 20px;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      line-height: 1;
      color: $yellow;
      margin: 16px 0 8px;
      border-bottom: 1px solid $yellow;
      padding-bottom: 8px;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        right: 2px;
        width: 13px;
        height: 13px;
        border: 1px solid yellow;
        border-left: none;
        border-top: none;
        transition: all .25s;
        transform: rotate(-135deg);
      }
    }
    &.collapsed h2:after {
      top: 0;
      transform: rotate(45deg);
    }
    input {
      border-bottom: 1px solid $white;
      background: none;
    }
    label {
      margin: 2px 0 12px;
      font-size: 12px;
      line-height: 15px;
      color: $white;
    }
  }

  @include media-md {
    .close {
      right: 100px;
    }
  }
}
#formFeedback {
  margin: 10px 0;
  background: $pink;
  color: $white;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: .1em;
  padding: 10px;
  text-transform: uppercase;
  display: none;
  &.-active {
    display: block;
  }
}