// Footer

.site-footer {
  color: $purple;
  background: $pink;

  .logo {
    margin-top: 0;

    .icon-logo {
      width: 171px;
      height: 38px;
      .logo-words {
        fill: $blue;
      }
      .logo-pin {
        fill: $yellow;
      }
    }
  }

  a {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .2s ease-out;
    em {
      font-weight: 400;
    }
    &:hover,
    &:focus {
      opacity: .5;
    }
    &.btn:hover {
      opacity: 1;
    }
  }

  li {
    margin-bottom: .5em;
  }

  @include media-md {
    ul {
      @include clearfix;
      li {
        float: left;
        margin-bottom: 0;
        margin-right: 30px;
      }
    }
  }

  .-top {
    color: $yellow;
    background: $purple;
    padding: 30px 0 15px;

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 15px;
      }
    }
  }

  .-bottom {
    padding: 50px 0;
    -webkit-font-smoothing: antialiased;
  }

  .copyright {
    font-size: 15px;
  }
}

.footer-nav {
  margin-top: 20px;
}