// Header

.site-header {
  @include clearfix;

  @include media-md {
    top: 0;
    left: 0;
    width: 100%;
    color: $white;
    position: absolute;

    nav {
      float: right;
      ul {
        @include clearfix;
      }
      li {
        float: left;
        margin-left: 20px;
      }
    }

  }
}

.site-nav {
  a {
    font-size: 13px;
    text-decoration: none;
    line-height: 1.307692308;
    text-transform: uppercase;
  }
}