// Variables

// Colors
$black: #444;
$white: #fff;
$yellow: #f2ff3d;
$blue: #1e1c56;
$purple: #242057;
$pink: #ff3566;
$blue-lite: #51c9ea;
$green: #65bc45;
$orange: #f56e19;
$gray: #ccc;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$breakpoint-sm: 400px;
$breakpoint-md: 700px;
$breakpoint-nav: 900px;
$breakpoint-lg: 1000px;