// Document Colors
$dark-blue: #1f1c57;
$yellow: #f2ff3d;
$pink: #ff3666;
$light-gray: #f4f4f7;
$blue-gray: #bcbbcd;
$white: #fff;

// Category Colors
$category-arts-and-entertainment: #ff3566;
$category-education: #1449c9;
$category-financial: #50f5d7;
$category-foods: #eb2832;
$category-gyms: #f555c8;
$category-health: #8c145a;
$category-manufacturing: #aaeb32;
$category-moving: #ff733a;
$category-other: #733ca0;
$category-personal-services: #b43ccd;
$category-professional-and-home: #ffdc2d;
$category-public-and-gov: #307efc;
$category-shopping: #3cb95f;
$category-social-services: #51c8eb;
$category-transport: #1f1c57;
$category-worship: #055a41;
$category-housing: #e1f514;

// Page Stylings
.map-page {

  .map-section {
    padding: 130px 0 100px;
  }
  .request-data {
    margin: 0;
    border: none;
    border-bottom: 1px solid $blue;
    position: relative;
    p {
      font-size: 13px;
    }
    a {
      display: block;
      text-align: right;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none;
      padding: 10px 0;
      letter-spacing: .1em;
    }
    svg {
      width: 8px;
      height: 8px;
    }
    @include min-screen($breakpoint-nav) {
      padding: 0 170px 0 0;
      a {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .city-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: inline-block;
      padding: 2px 0 10px;
      font-size: 13px;
      line-height: 1;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: .1em;
      color: rgba($blue, .5);
      border-bottom: 2px transparent;
      transition: all .25s;
      &:hover {
        color: $blue;
      }
    }
    @include min-screen($breakpoint-nav) {
      text-align: right;
    }

    // Active states
    &.active-CHICAGO li.chicago,
    &.active-NEWYORK li.newyork,
    &.active-NIAGARAFALLS li.niagarafalls,
    &.active-NASHEDGECOMBE li.nashedgecombe {
      a {
        color: $blue;
        border-bottom: 3px solid $blue;
      }
    }
  }

  h2 {
    color: $pink;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .1em;
    margin: 0;
  }

  // Map Search Menu Styling
  .search-menu {
    @include min-screen($breakpoint-nav) {
      float: left;
      width: 280px;
      margin: 10px 20px 0 0;
    }
    line-height: 20px;

    // Override List Styles
    ul,ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    // Form Styling
    .select-wrap { // A wrapper to put around <select>'s
      position: relative;
      &:after{ // Add our custom arrow icon
        position: absolute;
        content: ' ';
        width: 10px;
        height: 14px;
        // background: url(#{$svg_dir}select-bg.svg);
        top: 1px;
        right: 0;
        pointer-events: none;
      }
      select {
        // Override default select styles
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        background-image: none;
        appearance: none;
        &::-ms-expand {
          display: none;
        }
        // Add Our Style
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        padding-right: 10px;
      }
    }

    // Section Styling
    .category-name, .step, .services {
      padding: 9px 10px 5px 10px;
    }
    .category-name {
      padding-right: 30px;
    }

    .step, .category {
      margin-top: 10px;
      margin-left: 36px;
      width: 246px;
    }

    .steps {
      font-size: 15px;
      counter-reset: step-counter;
      .step {
        background: $yellow;
        position: relative;
        &:before{
          position: absolute;
          left: -36px;
          top: 0;
          width: 36px;
          height: 34px;
          content: counter(step-counter)".";
          counter-increment: step-counter;
          background: $pink;
          font-size: 20px;
          letter-spacing: .1em;
          padding-left: 10px;
          padding-top: 8px;
          font-weight: bold;
        }
      }
    }

    .categories {
      font-size: 13px;
      margin-top: 30px;
      .category {
        background: $light-gray;
        position: relative;
        .toggle-category {
          cursor: pointer;
        }
        .icon-triangle {
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .icon-category {
          position: absolute;
          left: -36px;
          top: 17px; // 34/2
          transform: translateY(-50%);
        }
        &.open {
          .category-name {
            font-weight: bold;
          }
          .icon-triangle{
            transform: rotate(180deg);
          }
        }
      }
    }

    .services {
      color: $white;
      background: $blue-gray;
      display: none;
      .service {
        position: relative;
        padding-left: 10px;
        padding-top: 5px;
        cursor: pointer;
        &:first-child { padding-top: 0; }
        &:before {
          position: absolute;
          left: 0px;
          content: '+';
        }
        &.selected {
          color: $dark-blue;
          &:before {
            content: '-';
          }
        }
      }
    }
  }

  //Icon sizing and colors
  .icon-category {
    width: 32px;
    height: 30px;
  }
  .icon-category.-arts-and-entertainment {
    fill: $category-arts-and-entertainment;
  }
  .icon-category.-education {
    fill: $category-education;
  }
  .icon-category.-financial {
    fill: $category-financial;
  }
  .icon-category.-foods {
    fill: $category-foods;
  }
  .icon-category.-gyms {
    fill: $category-gyms;
  }
  .icon-category.-health {
    fill: $category-health;
  }
  .icon-category.-housing {
    fill: $category-housing;
  }
  .icon-category.-manufacturing {
    fill: $category-manufacturing;
  }
  .icon-category.-moving {
    fill: $category-moving;
  }
  .icon-category.-other {
    fill: $category-other;
  }
  .icon-category.-personal-services {
    fill: $category-personal-services;
  }
  .icon-category.-professional-and-home {
    fill: $category-professional-and-home;
  }
  .icon-category.-public-and-gov {
    fill: $category-public-and-gov;
  }
  .icon-category.-shopping {
    fill: $category-shopping;
  }
  .icon-category.-social-services {
    fill: $category-social-services;
  }
  .icon-category.-transport {
    fill: $category-transport;
  }
  .icon-category.-worship {
    fill: $category-worship;
  }
  .icon-triangle {
    width: 10px;
    height: 5px;
    fill: $dark-blue;
  }
}

// Map
#map {
  #gmap-canvas,
  .gmap-wrap {
    width: 300px;
    height: 243px;
    overflow: hidden;
    background: #ccc;
  }

  @include min-screen($breakpoint-nav) {
    float: right;
    width: 580px;
    margin-top: 20px;

    #gmap-canvas,
    .gmap-wrap {
      width: 580px;
      height: 468px;
    }
  }
}
