// Document Colors
$dark-blue: #1f1c57;
$yellow: #f2ff3d;
$pink: #ff3666;
$light-gray: #f4f4f7;
$blue-gray: #bcbbcd;
$white: #fff;

// Category Colors
$category-arts-and-entertainment: #ff3566; // typeId: 14
$category-education: #1449c9; // typeId: 11
$category-financial: #50f5d7; // typeId: 5
$category-foods: #eb2832; // typeId: 1
$category-gyms: #f555c8; // typeId: 15
$category-health: #8c145a; // typeId: 6
$category-manufacturing: #aaeb32; // typeId: 9
$category-moving: #ff733a; // typeId: 8
$category-other: #733ca0; // typeId: 16
$category-personal-services: #b43ccd; // typeId: 4
$category-professional-and-home: #ffdc2d; // typeId: 3
$category-public-and-gov: #307efc; // typeId: 13
$category-shopping: #3cb95f; // typeId: 2
$category-social-services: #51c8eb; // typeId: 7
$category-transport: #1f1c57; // typeId: 8
$category-worship: #055a41; // typeId: 10
$category-housing: #e1f514; // typeId: 12

// Page Stylings
.map-page {

  .map-section {
    padding: 130px 0 100px;
  }
  .request-data {
    margin: 0;
    border: none;
    border-bottom: 1px solid $blue;
    position: relative;
    p {
      font-size: 13px;
    }
    a {
      display: block;
      text-align: right;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none;
      padding: 10px 0;
      letter-spacing: .1em;
    }
    svg {
      width: 8px;
      height: 8px;
    }
    @include min-screen($breakpoint-nav) {
      padding: 0 170px 0 0;
      a {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .city-nav {
    margin: 30px 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: block;
      float: left;
      width: 50%;
      margin: 0 0 10px;
      &:nth-child(odd) {
        clear: left;
      }
    }
    a {
      display: inline-block;
      padding: 2px 0 10px;
      font-size: 13px;
      line-height: 1;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: .1em;
      color: rgba($blue, .5);
      border-bottom: 2px transparent;
      transition: all .25s;
      &:hover {
        color: $blue;
      }
    }
    @include min-screen($breakpoint-nav) {
      margin: 0;
      text-align: right;
      li {
        float: none;
        width: auto;
        display: inline-block;
        margin: 0 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // Active states
  [data-city="CHICAGO"] .city-nav li.chicago,
  [data-city="NEWYORK"] .city-nav li.newyork,
  [data-city="NIAGARAFALLS"] .city-nav li.niagara,
  [data-city="NASHVILLEEDGECOMBE"] .city-nav li.nash {
    a {
      color: $blue;
      border-bottom: 3px solid $blue;
    }
  }


  // Map Search Menu Styling
  .search-menu {
    h2 {
      color: $pink;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: .1em;
      margin: 0;
    }

    margin: 0;
    padding: 0;
    @include min-screen($breakpoint-nav) {
      float: left;
      width: 280px;
      margin: 10px 20px 0 0;
    }
    line-height: 20px;

    // Override List Styles
    ul,ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    // Form Styling
    .select-wrap { // A wrapper to put around <select>'s
      position: relative;
      &:after{ // Add our custom arrow icon
        position: absolute;
        content: ' ';
        width: 10px;
        height: 14px;
        background: url(#{$svg_dir}select-bg.svg);
        top: 1px;
        right: 0;
        pointer-events: none;
      }
      select {
        // Override default select styles
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        background-image: none;
        appearance: none;
        outline: none;
        &::-ms-expand {
          display: none;
        }
        // Add Our Style
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        padding-right: 10px;
      }
    }

    // Section Styling
    .category-name, .step, .services {
      padding: 9px 10px 5px 10px;
    }
    .category-name {
      padding-right: 30px;
    }

    .steps {
      font-size: 15px;
      counter-reset: step-counter;
      li:not(.or) {
        margin: 10px 0 0 36px;
        background: $yellow;
        position: relative;
        &:before{
          position: absolute;
          left: -36px;
          top: 0;
          width: 36px;
          height: 34px;
          content: counter(step-counter)".";
          counter-increment: step-counter;
          background: $pink;
          font-size: 20px;
          letter-spacing: .1em;
          padding-left: 10px;
          padding-top: 8px;
          font-weight: bold;
        }
      }
      // Or Zipcode field for Chicago
      .or {
        display: none; // set to display: block for Chicago only
        background: none;
        position: relative;
        margin-left: 36px;
        span {
          display: block;
          position: absolute;
          left: -33px;
          top: 8px;
          font-size: 20px;
          font-weight: bold;
        }
        .pad {
          background: $yellow;
          position: relative;
          padding: 4px;
          margin: 10px 0 20px;
        }
        input[type=text] {
          background: none;
          border: none;
          font-size: 15px;
          padding: 4px;
        }
        button {
          background: $blue;
          color: $white;
          font-size: 13px;
          padding: 2px 4px;
          letter-spacing: .1em;
          border: none;
          outline: none;
          position: absolute;
          top: 8px;
          right: 6px;
        }
      }
    }

    .categories {
      font-size: 13px;
      margin-top: 30px;
      >li {
        margin: 10px 0 0 36px;
        background: $light-gray;
        position: relative;
        .toggle-category {
          cursor: pointer;
        }
        .icon-triangle {
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .icon-category {
          position: absolute;
          left: -36px;
          top: 17px; // 34/2
          transform: translateY(-50%);
        }
        &.open {
          .category-name {
            font-weight: bold;
          }
          .icon-triangle{
            transform: rotate(180deg);
          }
        }
      }
    }

    .services {
      color: $white;
      background: $blue-gray;
      display: none;
      li {
        position: relative;
        padding-left: 10px;
        padding-top: 5px;
        cursor: pointer;
        &:first-child { padding-top: 0; }
        &:before {
          position: absolute;
          left: 0px;
          content: '+';
        }
        &.selected {
          color: $dark-blue;
          &:before {
            content: '-';
          }
        }
      }
    }
  }
  // Show OR for Chicago
  [data-city="CHICAGO"] .steps .or {
    display: block;
  }

  //Icon sizing and colors
  .icon-category {
    width: 32px;
    height: 30px;
  }
  .icon-category.-arts-and-entertainment {
    fill: $category-arts-and-entertainment;
  }
  .icon-category.-education {
    fill: $category-education;
  }
  .icon-category.-financial {
    fill: $category-financial;
  }
  .icon-category.-foods {
    fill: $category-foods;
  }
  .icon-category.-gyms {
    fill: $category-gyms;
  }
  .icon-category.-health {
    fill: $category-health;
  }
  .icon-category.-housing {
    fill: $category-housing;
  }
  .icon-category.-manufacturing {
    fill: $category-manufacturing;
  }
  .icon-category.-moving {
    fill: $category-moving;
  }
  .icon-category.-other {
    fill: $category-other;
  }
  .icon-category.-personal-services {
    fill: $category-personal-services;
  }
  .icon-category.-professional-and-home {
    fill: $category-professional-and-home;
  }
  .icon-category.-public-and-gov {
    fill: $category-public-and-gov;
  }
  .icon-category.-shopping {
    fill: $category-shopping;
  }
  .icon-category.-social-services {
    fill: $category-social-services;
  }
  .icon-category.-transport {
    fill: $category-transport;
  }
  .icon-category.-worship {
    fill: $category-worship;
  }
  .icon-triangle {
    width: 10px;
    height: 5px;
    fill: $dark-blue;
  }
}

// Map
#map {
  #gmap-canvas,
  .gmap-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background: #ccc;
  }

  @include min-screen($breakpoint-nav) {
    float: right;
    width: 580px;
    margin-top: 20px;

    #gmap-canvas,
    .gmap-wrap {
      width: 580px;
      height: 468px;
    }
  }
}
